<!DOCTYPE html>
<html>
  <head>
    <title>Parafrog Book Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="content">
      <nav class="side_nav">
        <% if @cart != nil %>
          <div id="js-cart" class="carts is-navbar">
            <%= render @cart %>
          </div>
        <% end %>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <br />
        <p class="sidebar-time"><%= Time.now.to_formatted_s(:short) %></p>
      </nav>
      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
  </body>
</html>
